//META{"name":"SpaceCristalClear","description":"Dark Cristal Clear Theme","author":"EthanMcPhoenix","version":"1.0"}*//

@import url('https://fonts.googleapis.com/css?family=Exo+2:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*================Fonts Settings================*/
/**/    *{
/**/        color: silver;
/**/        font-family: 'Exo+2', Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif !important;
/**/        border-radius: 0px !important;
/**/    }
/**/
/**/	div>*:not(code) {
/**/        font-family: 'Exo+2', Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif !important;
/**/    }
/**/
/**/    .messages .markup:not([data-colour="false"]) {
/**/        color: silver !important;
/**/    }
/*================Fin Fonts Settings================*/
    
/*================APP================*/
/**/    .app, .callou-backdrop, body{
/**/        background: url(https://puu.sh/xpZNR/d290835809.jpg) !important;
/**/        background-size: cover !important;
/**/        background-attachment: fixed !important;
/**/        background-position: center center !important;
/**/        background-repeat: no-repeat !important;
/**/    }//META{"name":"SpaceCristalClear","description":"Dark Cristal Clear Theme","author":"EthanMcPhoenix","version":"1.0"}*//

@import url('https://fonts.googleapis.com/css?family=Exo+2:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*================Fonts Settings================*/
 *{
     font-family:'Exo 2', sans-serif !important;
     border-radius: 0px !important;
     font-weight:lighter !important;
     box-sizing:border-box;
}
 div>*:not(code) {
     font-family: 'Exo 2', Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif !important;
}
 .messages .markup:not([data-colour="false"]) {
     color: silver !important;
}
/*================End Fonts Settings================*/
/*================APP================*/
 .app, .callou-backdrop, body{
     background: url(http://puu.sh/ALlhH/9d48b1af38.jpg) !important;
     background-size: cover !important;
     background-attachment: fixed !important;
     background-position: center center !important;
     background-repeat: no-repeat !important;
}
 .theme-dark .layer-3QrUeG, .theme-dark .layers-3iHuyZ{
     background: rgba(0,0,0,0);
}
 .appMount-3VJmYg{
     background-color: rgba(0,0,0,0.32);
}
/*================End APP================*/
/*================Server List================*/
 .guilds-wrapper{
     background-color: rgba(0,0,0,0.16);
}
 .guild-inner a svg defs path{
     display:none !important;
}
 .guild-inner a svg, .friends-icon:after {
     display: block;
     width: 48px;
     height: 48px;
     content: '';
     background-image: url(https://i.imgur.com/l7vNybT.gif) !important;
     background-size: 124%;
     background-repeat: no-repeat;
     background-position: center;
     border-radius: 0px !important;
}
 .guilds-wrapper .guilds-add{
     background: rgba(0,0,0,0);
}
 .guild-inner{
     border-radius: 0px !important;
}
 .guild.selected:before{
     border-radius: 0px !important;
     box-sizing:border-box;
     height: 50px !important;
     width: 4px !important;
     top: 20px !important;
     left: 50px !important;
     animation: rainbow 8s ease-in-out infinite;
}
 @keyframes rainbow {
     0% {
        background-color: rgb(255,0,0);}
     4.16% {
        background-color: rgb(255,64,0);}
     8.32% {
        background-color: rgb(255,128,0);}
     12.48% {
        background-color: rgb(255,191,0);}
     16.64% {
        background-color: rgb(255,255,0);}
     20.8% {
        background-color: rgb(191,255,0);}
     24.96% {
        background-color: rgb(128,255,0);}
     29.12% {
        background-color: rgb(64,255,0);}
     33.28% {
        background-color: rgb(0,255,0);}
     37.44% {
        background-color: rgb(0,255,64);}
     41.6% {
        background-color: rgb(0,255,128);}
     45.76% {
        background-color: rgb(0,255,191);}
     49.92% {
        background-color: rgb(0,255,255);}
     54.08% {
        background-color: rgb(0,191,255);}
     58.24% {
        background-color: rgb(0,128,255);}
     62.4% {
        background-color: rgb(0,64,255);}
     66.56% {
        background-color: rgb(0,0,255);}
     70.72% {
        background-color: rgb(64,0,255);}
     74.88% {
        background-color: rgb(128,0,255);}
     79.04% {
        background-color: rgb(191,0,255);}
     83.2% {
        background-color: rgb(255,0,255);}
     87.36% {
        background-color: rgb(255,0,191);}
     91.52% {
        background-color: rgb(255,0,128);}
     95.68% {
        background-color: rgb(255,0,64);}
     100% {
        background-color: rgb(255,0,0);}
}
/*================End Server List================*/
/*================Games================*/
 .theme-dark .activityFeed-28jde9{
     background-color: rgba(0,0,0,0.16);
}
 .article-FleDq5, .carousel-JbsNzL, .paginationItem-3-MBTL{
     background-color: rgba(0,0,0,0.48);
     border: 1px solid silver;
     box-sizing: border-box;
     border-radius: 0px;
}
 .paginationItem-3-MBTL:after{
     background: linear-gradient(270deg,transparent 0,rgba(0, 0, 0, 0.06));
}
 .theme-dark .dockItem-2kQDqg:hover{
     background-color: rgba(0,0,0,0.16);
     border-radius: 0px;
     border: 1px solid silver;
}
 .theme-dark .card-7JP0BX{
     background-color: rgba(31,31,31,0.32);
     border-radius: 0px;
     border: 1px solid silver;
}
 .theme-dark .body-SKIE6r{
     background-color: rgba(0,0,0,0.16);
}
/*================End Games================*/
/*================Private Call================*/
 .theme-dark .wrapper-29NfPK{
     background-color: rgba(0,0,0,0.08);
}
 .theme-dark .wrapper-29NfPK.minimum-2d6zH6 .actions-2vadYq .center-1Vp33r{
     background-color: rgba(0,0,0,0);
     border: 1px solid transparent;
     border-radius: 0px;
}
/*================End Private Call================*/
/*================Profil================*/
 .root-SR8cQa{
     background-color: rgba(0,0,0,1);
}
 .theme-dark .topSectionNormal-2-vo2m, .theme-dark .body-3ND3kc{
     background-color: rgba(0,0,0,0);
}
/*================End Profil================*/
/*================Friends Lists================*/
 .theme-dark .quickswitcher-3JagVE, .theme-dark .input-2VB9rf{
     background-color: rgba(0,0,0,0.16);
     border: 1px solid silver;
}
 .theme-dark #friends, .theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action{
     background-color: rgba(0,0,0,0);
}
 .container-2lgZY8, .channels-Ie2l6A, .theme-dark .headerBar-UHpsPw{
     background-color: rgba(0,0,0,0.16);
}
 .private-channels .channel.selected a{
     background-color:rgba(0,0,0,0);
}
 .private-channels .channel:hover a{
     background-color: rgba(0,0,0,0.32);
}
 .private-channels .channel.selected{
     background-color: rgba(0,0,0,0.56);
}
 .theme-dark .menu-Sp6bN1{
     background: rgba(0,0,0,0.88) !important;
     border:1px solid silver;
}
 .theme-dark .item-1GzJrl:hover{
     background-color:rgba(255,255,255,0.08) !important;
}
 .theme-dark #friends .tab-bar.tab-bar-desktop .tab-bar-item{
     font-weight: bold !important;
     background-color: rgba(0,0,0,0.08);
}
 .theme-dark #friends .tab-bar .tab-bar-item:hover:not(.selected){
     background-color: rgba(0,0,0,0.64) !important;
}
 .theme-dark #friends .tab-bar .tab-bar-item.selected{
     background-color: rgba(0,0,0,0.64) !important;
     color: rgba(11,154,23,0.88) !important;
}
 .theme-dark .friends-table{
     background-color: rgba(0,0,0,0.32);
}
 .theme-dark #friends .friends-table .friends-row:hover{
     background: rgba(0,0,0,0.16);
}
 #friends .friends-table .friends-row .friends-column-actions .friends-action.friends-action-voice-call{
     margin-left: 0px !important;
}
 .theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action:hover{
     background-color: rgba(0,0,0,0.32) !important;
}
/*================End Friends Lists================*/
/*================Server Pin Messages================*/
 .theme-dark .messagesPopoutWrap-1MQ1bW{
     border-radius: 0px;
     background-color: rgba(0,0,0,0.96);
}
 .theme-dark .messagesPopoutWrap-1MQ1bW .header-ykumBX{
     background-color: rgba(0,0,0,0);
     border-radius: 0px;
}
 .theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group{
     background-color: rgba(0,0,0,0.32);
     border-radius: 0px;
     border: 1px solid silver;
}
 .theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group .actionButtons-1sUUug .jumpButton-3DTcS_{
     background-color: rgba(0,0,0,0);
     border: 1px solid silver;
}
 .theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group .actionButtons-1sUUug .closeButton-17RIVZ{
     color: silver;
}
 .actionButtons-1sUUug, .theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group:hover .actionButtons-1sUUug{
     box-shadow: 0 0 0 0 rgba(0,0,0,0);
}
 .theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group:hover .actionButtons-1sUUug{
     background-color: rgba(0,0,0,0);
}
/*================End Server Pin Messages================*/
/*================Server Channels Column================*/
 .container-PNkimc{
     background-color: rgba(0,0,0,0.08) !important;
}
 .contentSelectedText-3wUhMi, .contentHoveredText-2D9B-x, .contentHoveredVoice-3p_NEO:active, .contentSelectedVoice-1WDIBM:active{
     background-color: rgba(255,255,255,0.08) !important;
     border-radius: 0px !important;
}

 .container-2Thooq{
    background:rgba(0,0,0,0);
 }
/*================End Server Channels Column================*/
/*================Server Chats================*/
 .theme-dark .chat, .theme-dark .chat>.content{
     background-color: rgba(0,0,0,0.08) !important;
}
 .theme-dark .title-3qD0b-, .theme-dark .messages-wrapper{
     background-color: rgba(0,0,0,0.13) !important;
}
 .theme-dark .friends-table .messages .message-group-blocked, .theme-dark .messages-wrapper .messages .message-group-blocked, .theme-dark .messages-wrapper .messages .message-group-blocked .message-group-blocked-btn{
     background-color: rgba(0,0,0,0) !important;
     border-radius: 0px !important;
     color: silver !important;
     padding:2px;
}
 .theme-dark .chat form{
     background-color: rgba(0,0,0,0.08) !important;
}
 .theme-dark .inner-zqa7da{
     background-color: rgba(0,0,0,0.16) !important;
     border: 1px solid silver;
     border-radius: 0px !important;
}
 .avatar-large, .avatar-profile, .avatar-small, .avatar-xlarge, .avatar-xsmall, .avatar-xxlarge{
     border-radius: 0px !important;
}
 .theme-dark .friends-table .messages .divider:before, .theme-dark .friends-table .messages .divider span, .theme-dark .messages-wrapper .messages .divider:before, .theme-dark .messages-wrapper .messages .divider span{
     background-color: rgba(0,0,0,0.28);
}
 .theme-dark .chat .jump-to-present-bar{
     background-color: rgba(0,0,0,0.96) !important;
     border: 1px solid silver !important;
     width:255px;
     padding: 0px;
     border-radius: 0px !important;
     position: fixed;
     left:706px;
     bottom:98px;
}
 .chat .jump-to-present-bar button:first-child{
     color: rgba(0,0,0,0);
     display: none;
}
 .chat .jump-to-present-bar button:last-child{
     color: rgba(15,151,25,1);
}
 .chat .new-messages-bar{
     display:none;
}
 .theme-dark .everyonePopout-nEbJY3{
     background-color: rgba(0,0,0,0.88);
     border-radius: 0px;
     border: 1px solid silver;
}
 .inner-1JeGVc, .theme-dark .message-2qRu38{
     border:1px solid silver;
}
 .theme-dark .modal-3HD5ck, .theme-dark .footer-2yfCgX, .theme-dark .message-2qRu38{
     background-color: rgba(0,0,0,0.24);
}
 .theme-dark .typing-2GQL18{
     background-color: rgba(0,0,0,0);
}
 .channelTextArea-1LDbYG{
     width: 80%;
}
 .channelTextArea-rNsIhG{
    margin-right: 15%;
 }
 .autocomplete-1vrmpx{
     border-radius: 0px;
     background-color: rgba(0,0,0,0.96) !important;
     border: 1px solid silver;
}
/*================End Server Chats================*/
/*================Server Members List================*/
 .theme-dark .members-1998pB{
     background-color: rgba(0,0,0,0.64);
     border-radius: 0px;
}
 .theme-dark .member-3W1lQa:hover .content-OzHfo4{
     background-color: rgba(255,255,255,0.096);
     border-radius: 0px;
}
 .member-3W1lQa{
     border-radius: 0px;
     margin-left:4px;
}
 .avatarWrapper-3B0ndJ{
     margin-left:-5px !important;
     margin-right:6px !important;
}
 .userPopout-3XzG_A{
     box-shadow: none !important;
     background-color: rgba(0,0,0,0.88);
     border-radius: 0px;
     border: 1px solid silver;
}
 .theme-dark .headerNormal-T_seeN, .theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6{
     border-radius: 0px;
     background-color: rgba(0,0,0,0);
}
 .theme-dark .quickMessage-1yeL4E{
     background-color: rgba(0,0,0,0.96);
     border-radius: 0px;
     border: 1px solid silver;
}
/*================End Server Members List================*/
/*================Users Server List Panel Animation================*/
 .avatarWrapper-3B0ndJ{
     margin-left:-10px;
}
 .membersWrap-2h-GB4 {
     transform: translate(197px)!important;
     z-index: 2!important;
     transition: all 300ms ease!important;
}
 .membersWrap-2h-GB4 .membersGroup-v9BXpm{
     display:none;
}
 .membersWrap-2h-GB4:hover {
     animation: member 300ms ease!important;
     transform: translate(0px)!important;
     background: rgba(0, 0, 0, 0.16)!important;
     border-left: 1px solid black !important;
}
 .membersWrap-2h-GB4:hover .membersGroup-v9BXpm{
     display:flex;
}
 .theme-dark .membersWrap-2h-GB4{
     background-color: rgba(0,0,0,0.32) !important;
}
 .app {
     overflow-x: hidden!important;
}
 .chat.flex-vertical.flex-spacer>.content.flex-spacer.flex-horizontal>.flex-spacer.flex-vertical {
     margin-right: -210px!important;
     z-index: 1!important;
}
/*================Fin Users Server List Panel Animation================*/
/*================SETTINGS================*/
 .theme-dark .ui-standard-sidebar-view{
     background: rgba(0,0,0,0) !important;
}
 .theme-dark .ui-standard-sidebar-view .sidebar-region, .theme-dark .ui-standard-sidebar-view .content-region{
     background: rgba(0,0,0,0.32);
}
 .side-8zPYf6 .itemSelected-1qLhcL, .lookFilled-1Gx00P.colorBrand-3pXr91, .lookFilled-1Gx00P.colorBrand-3pXr91:hover{
     background-color: rgba(114, 137, 218,0.32) !important;
     border-radius: 0px;
}
 .themeDefault-24hCdX.valueChecked-m-4IJZ{
     background-color: rgba(20,150,20,0.32);
}
 .side-8zPYf6 .item-PXvHYJ{
     border-radius: 0px !important;
}
 .themeDefault-24hCdX{
     background-color: rgba(255,5,5,0.32);
}
 .theme-dark .user-settings-games .not-detected, .theme-light .user-settings-games .not-detected{
     background-color: rgba(49,49,49,0.32);
}
 .bd-blue *[style*="background-color: rgb(114, 137, 218)"]{
     background-color: rgba(58,113,193,0.32) !important;
}
/*================End SETTINGS================*/
/*================Custom CSS Editor DETACHED================*/
 #bd-customcss-detach-container, .ace-monokai, .ace-monokai .ace_gutter,.content-region #bd-customcss-attach-controls, #bd-customcss-detach-container #bd-customcss-attach-controls{
     background-color: rgba(0,0,0,0.48);
}
 .ace-monokai .ace_gutter,.content-region #bd-customcss-attach-controls, #bd-customcss-detach-container #bd-customcss-attach-controls{
     border-left: 1px solid silver;
}
 .ace-monokai .ace_marker-layer .ace_selection{
     background-color: rgba(255,255,255,0.32);
     border-radius: 0px !important;
}
 .ui-standard-sidebar-view #bd-customcss-attach-controls button, .bd-detached-css-editor #bd-customcss-attach-controls button{
     background: rgba(0,0,0,0.88);
     border: 1px solid silver;
     border-radius: 0px !important;
}
 .bd-blue .checkbox .checkbox-inner input[type=checkbox]:checked+span{
     background-color: rgba(0,0,0,0);
     border-color: silver;
     border: 1px solid;
}
 .ui-standard-sidebar-view #bd-customcss-attach-controls button:hover, .bd-detached-css-editor #bd-customcss-attach-controls button:hover{
     background: rgba(56,56,56,0.88);
}
/*================End Custome CSS Editor DETACHED================*/
/*================Search Filter================*/
 .theme-dark .search .search-bar{
     border-radius: 0px;
     background-color: rgba(0,0,0,32);
     border: 1px solid silver;
}
 .theme-dark .searchFilter-2ESiM3{
     background-color: rgba(0,0,0,0.24);
     border-radius: 0px;
}
 .theme-dark .search-results-wrap{
     background-color: rgba(0,0,0,0.98);
     border-left: 1px solid silver;
     z-index:9;
}
 .theme-dark .search-results-wrap .search-header, .theme-dark .search-results-wrap .channel-separator .channel-name{
     background-color: rgba(0,0,0,0);
     border-bottom: 1px solid silver;
}
 .theme-dark .search-results-wrap .search-result:before{
     background-image: linear-gradient(0deg, rgba(255,255,255,0), rgba(255,255,255,0.16));
}
 .theme-dark .search-results-wrap .search-result:after{
     background-image: linear-gradient(180deg,rgba(255,255,255,0),rgba(255,255,255,0.16));
}
 .theme-dark .search-results-wrap .search-result .hit{
     background-color: rgba(0,0,0,0.88);
     border:1px solid silver !important;
     border-radius:0px;
}
 .theme-dark .search-results-wrap .action-buttons .jump-button{
     background-color: rgba(0,0,0,0);
     border:1px solid silver;
     border-radius:0px;
}
 .theme-dark .searchPopout-1vUlP3 {
     box-shadow: none;
     background-color: rgba(0,0,0,0.96);
     border: 1px solid silver;
     border-radius: 0px;
}
/*================End Search Filter================*/
/*================Subs Menus================*/
 .emojiPicker-3m1S-j {
     background-color: rgba(0,0,0,0.32) !important;
}
 .search-bar.search-bar-light{
     background-color: rgba(0,0,0,0) !important;
}
 .search-bar.search-bar-light .search-bar-inner{
     background-color: rgba(255,255,255,0.08) !important;
     border-radius: 0px !important;
}
 .search-bar.search-bar-light input{
     color: silver !important;
}
 .search-bar.search-bar-light .search-bar-inner{
     background-color: rgba(255,255,255,0.08) !important;
     border-radius: 0px !important;
}
 .emojiPicker-3m1S-j .stickyHeader-1SS0JU{
     background-color: rgba(255,255,255,0) !important;
}
 .emojiPicker-3m1S-j .category-2U57w6{
     color: silver !important;
     background-color: rgba(0,0,0,0.88) !important;
}
 .emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA.selected-39BZ4S{
     background-color: rgba(255,255,255,0.32) !important;
}
 .theme-dark.contextMenu-HLZMGh{
     background-color: rgba(0,0,0,0.96);
     border-radius: 0px !important;
     border: 1px solid silver;
}
 .bd-blue .tooltip{
     background-color: rgba(0,0,0,0.88);
     border-radius: 0px;
     border: 1px solid silver;
}
 .bd-blue .tooltip.tooltip-bottom:after{
     border-bottom-color: rgba(0,0,0,0.88);
     border: 1px solid silver;
}
 .bd-blue .need-help-modal .header, .form-deprecated .form-inner, .form.deprecated .form-inner, .need-help-modal.deprecated .footer{
     background-color: rgba(0,0,0,1);
}
 .need-help-modal.deprecated .header input[type=text]{
     border-radius: 0px;
     background-color: rgba(0,0,0,0);
     color: silver !important;
     box-shadow: 0 0 0 0 rgba(0,0,0,0);
}
 .small-popout-box{
     background: RGBA(0,0,0,0.88);
     border: 1px solid silver !important;
     box-sizing: border-box;
     border-radius: 4px;
}
 .option-popout .btn-item, .option-popout .btn-item:hover{
     color: silver;
}
/*================End Subs Menus================*/
/*================Scrollers================*/
 .theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-thumb, .theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-thumb, .ace_scrollbar-v, .ace_scrollbar-h{
     display: none;
}
 .theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-track-piece, .theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-track-piece, .ace_scrollbar-inner{
     display: none;
}
/*================End Scrollers================*/
/**/
/**/    .theme-dark .layer{
/**/        background: rgba(0,0,0,0.32) !important;
/**/    }
/*================Fin APP================*/
    
/*================Serveur List================*/
/**/    .guilds-wrapper{
/**/        background: rgba(0,0,0,0.16) !important;
/**/    }
/**/    
/**/    .guild-inner, .friends-icon:after {
/**/        display: block;
/**/        width: 48px;
/**/        height: 48px;
/**/        content: '';
/**/        background-image: url(https://i.imgur.com/l7vNybT.gif) !important;
/**/        background-size: 124%;
/**/        background-repeat: no-repeat;
/**/        background-position: center;
/**/    }
/**/
/**/    .guild-inner, .guild, .avatar-small{
/**/        border-radius:0px !important;
/**/    }
/**/
/**/    .create-guild-container.deprecated,
/**/    .create-guild-container.deprecated .create-or-join .form-inner,
/**/    .create-guild-container.deprecated .action{
/**/        background-color: rgba(0,0,0,0.32) !important;
/**/        border: 1px solid silver !important;
/**/    }
/**/
/**/    .create-guild-container.deprecated .action + .action{
/**/        margin-left: 32px !important;  
/**/    }
/**/
/**/    .or{
/**/        background-image: none !important;
/**/    }
/**/
/**/    .form.deprecated .form-inner, .form.deprecated .form-actions, .link-container input, .instant-invite-modal, .form.deprecated .form-header{
/**/        background-color: rgba(0,0,0,0.16) !important;
/**/    }
/**/        
/**/    .Select-control, .Select-menu-outer{
/**/        background-color: rgba(0,0,0,0.88) !important;
/**/        color: silver !important;
/**/        margin-top: 21px !important;
/**/    }
/**/          
/**/    .control-group > label{
/**/        padding-top: 10px !important;
/**/        padding-bottom: 11px !important;
/**/        height: 24px !important;
/**/        text-align: center;
/**/        justify-content: center;
/**/    }
/**/          
/**/    .instant-invite-modal, .instant-invite-modal-advanced{
/**/        height: 300px !important;
/**/    }
/**/              
/**/    #instant-invite-modal-advanced .form-actions .btn{
/**/        padding-top: 8px !important;
/**/        padding-bottom: 8px !important;
/**/        padding-left: 14px !important;
/**/        padding-right: 14px !important;
/**/    }
/**/
/**/    #guild-name, .form.deprecated .btn-default{
/**/        background-color: rgba(0,0,0,0.16) !important;
/**/        border: 1px solid silver !important;
/**/    }
/*================Fin Serveur List================*/

/*================Friends List================*/
/**/    .channels-wrap, .private-channels, .search-bar, .search-bar-inner{
/**/        background-color: rgba(0,0,0,0.16) !important;
/**/    }
/**/
/**/    .flex-vertical, .search-bar{
/**/        background: transparent !important;
/**/    }
/**/
/**/    .private-channels .channel.selected a{
/**/        background-color: rgba(255,255,255,0.08) !important;
/**/    }
/**/
/**/    .friends-header, .friends-table, .theme-dark .chat > .content, .theme-dark .messages-wrapper{
/**/        background-color: transparent !important;
/**/    }
/**/
/**/    #friends, .theme-dark .chat, .inner-3if5cm{
/**/        background-color: rgba(0,0,0,0.16) !important;
/**/    }
/**/
/**/    .chat.flex-vertical.flex-spacer.private > .content.flex-spacer.flex-horizontal > .flex-spacer.flex-vertical{
/**/        box-shadow: none !important;
/**/    }
/*================Fin Friends List================*/
    
/*================Serveur Channels List================*/
/**/    .container-RYiLUQ, .channel-notices .channel-notice.invite{
/**/        background-color: rgba(0,0,0,0.16) !important;
/**/    }
/**/
/**/    .popout-menu{
/**/        background: rgba(0,0,0,1) !important;
/**/    }
/**/
/**/    .popout-menu .popout-menu-item:hover{
/**/        background-color: rgba(255,255,255,0.04) !important;
/**/    }
/**/
/**/    .wrapper-2ldvyE{
/**/        background-color: rgba(0,0,0,0) !important;
/**/        color: silver !important;
/**/    }
/*================Fin Serveur Channels List================*/
    
/*================Users Server List Panel Animation================*/
/**/    .channel-members {
/**/        transform: translate(150px)!important;
/**/        z-index: 2!important;
/**/        transition: all 300ms ease!important
/**/    }
/**/
/**/    .channel-members:hover {
/**/        animation: member 300ms ease!important;
/**/        transform: translate(0px)!important;
/**/        background: rgba(0, 0, 0, 0.16)!important;
/**/        border-left: 1px solid black !important;
/**/    }
/**/        
/**/    .theme-dark .channel-members{
/**/         background-color: rgba(0,0,0,0.32) !important;
/**/    }
/**/        
/**/    .app {
/**/        overflow-x: hidden!important
/**/    }
/**/
/**/    .channel-members .member .member-activity,
/**/    .channel-members .member .member-username-inner {
/**/        opacity: 0!important;
/**/        transition: opacity 300ms ease, margin 100ms ease!important
/**/    }
/**/
/**/    .channel-members .member .member-username-inner {
/**/        margin-bottom: 0px!important
/**/    }
/**/
/**/    .channel-members:hover .member .member-activity,
/**/    .channel-members:hover .member .member-username-inner {
/**/        opacity: 1!important
/**/    }
/**/
/**/    .header-toolbar button.active {
/**/        display: none!important
/**/    }
/**/
/**/    .channel-members h2 {
/**/        transform-origin: right!important;
/**/        transform: scale(0)!important;
/**/        margin-top: 4px!important;
/**/        margin-bottom: 4px !important;
/**/        padding: 2px, 0px, 2px, 0px !important;
/**/        transition: all 300ms ease!important
/**/    }
/**/
/**/    .channel-members:hover h2 {
/**/        transform: scale(1)!important;
/**/        margin: inherit!important
/**/    }
/**/
/**/    .channel-members .avatar-small {
/**/        box-shadow: -1px 1px 8px rgba(255,255,255,0.16), inset -1px 1px 8px rgba(255,255,255,0.16), inset 1px -1px 8px rgba(255,255,255,0.16), 1px -1px 8px rgba(255,255,255,0.16);
/**/        border-radius: 0;
/**/    }
/**/
/**/    .chat.flex-vertical.flex-spacer>.content.flex-spacer.flex-horizontal>.flex-spacer.flex-vertical {
/**/        margin-right: -151px!important;
/**/        z-index: 1!important
/**/    }
/**/
/**/    .chat.flex-vertical.flex-spacer.private>.content.flex-spacer.flex-horizontal>.flex-spacer.flex-vertical {
/**/        margin-right: 0px!important;
/**/        z-index: 1!important;
/**/        box-shadow: inset 10px 10px 5px -6px rgba(0, 0, 0, 1)!important
/**/    }
/**/
/**/    div.chat.flex-vertical.flex-spacer.private .channel-members-wrap {
/**/        margin-left: -150px
/**/    }
/*================Fin Users Server List Panel Animation================*/
    
/*================Users Server List================*/
/**/    .userPopout-4pfA0d{
/**/        background-color: rgba(0,0,0,0.32) !important;
/**/    }
/**/
/**/    .headerNormal-1cioxU{
/**/        background: transparent !important;
/**/        border-left: 1px solid silver !important;
/**/        border-right: 1px solid silver !important;
/**/        border-top: 1px solid silver !important;
/**/    }
/**/
/**/    .body-3rkFrF{
/**/        background: transparent !important;
/**/        border-right: 1px solid silver !important;
/**/        border-left: 1px solid silver !important;
/**/    }
/**/
/**/    .footer-2J5zqP{
/**/        background: transparent !important;
/**/        border-left: 1px solid silver !important;
/**/        border-right: 1px solid silver !important;
/**/        border-bottom: 1px solid silver !important;
/**/    }
/**/
/**/    .quick-message{
/**/        background: rgba(0,0,0,0.08) !important;
/**/    }
/*================Fin Users Server List================*/

/*================Private Tchat================*/
/**/    .theme-dark .private-channel-call {
/**/        background-color: transparent !important;
/**/    }
/**/
/**/    .ui-video{
/**/        background-color: rgba(0,0,0,0.32) !important;
/**/    }
/*================Private Tchat================*/
    
/*================Tchat================*/
/**/    .theme-dark .messages-wrapper .messages .message-group-blocked{
/**/        background: rgba(0,0,0,0) !important;
/**/    }
/**/
/**/    .theme-dark .messages-wrapper .messages .message-group-blocked .message-group-blocked-btn
/**/    {
/**/        background: rgba(0,0,0,0.16) !important;
/**/        border-color: rgba(192,192,192,0.32) !important;
/**/        padding-top: 4px !important;
/**/        padding-bottom: 4px !important;
/**/    }
/**/
/**/    .theme-dark .messages-wrapper .messages .divider:not(.red) span {
/**/        color: silver;
/**/        padding-top: 4px;
/**/    }
/**/
/**/    .theme-dark .messages-wrapper .messages .divider span{
/**/        background: rgba(255, 255, 255, 0) !important;
/**/        border-radius: 0px;
/**/    }
/**/
/**/    .chat .divider::before{
/**/        background-color: rgba(40,40,40,0.32) !important;
/**/        border: 1px solid rgba(40,40,40,0.48) !important;
/**/        position: absolute;
/**/        width: 88% !important;
/**/        z-index: 0;
/**/        padding: 8px !important;
/**/        margin-top: 4px !important;
/**/        margin-left: 6% !important;
/**/    }
/**/
/**/    .chat .divider > div{
/**/        height: 0px !important;
/**/    }
/**/
/**/    .theme-dark .chat .jump-to-present-bar, .typing{
/**/        background-color:rgba(40,40,40,0.32) !important;
/**/    }
/**/
/**/    .chat .divider > span, .chat .divider-red > span{
/**/        margin-top: 4px !important;
/**/    }
/**/
/**/    .theme-dark .themed-popout, .theme-dark .themed-popout .header,
/**/    .theme-dark .themed-popout .footer,
/**/    .theme-dark .messages-popout-wrap .messages-popout .message-group{
/**/        background-color: rgba(0,0,0,0.32) !important;
/**/    }
/**/
/**/    .theme-dark .search-results-wrap,
/**/    .theme-dark .search-results-wrap .search-header,
/**/    .theme-dark .search-results-wrap .channel-separator .channel-name{
/**/    
/**/        background-color: rgba(0,0,0,0.40) !important;
/**/        z-index: 9 !important;
/**/    }
/**/
/**/    .theme-dark .search-results-wrap .search-result .hit
/**/    {
/**/        background-color: rgba(0,0,0,0.16) !important;
/**/        box-shadow: none !important;
/**/    }
/**/
/**/    .search-results-wrap .search-result::after,
/**/    .search-results-wrap .search-result::before
/**/    {
/**/        background-image: none !important;
/**/        bottom: 0;
/**/    }
/**/
/**/    .small-popout-box{
/**/        background: rgba(0,0,0,0.64) !important;
/**/        border: 1px solid silver !important;
/**/    }
/*================Fin Tchat================*/
    
 /*================Emoji================*/
/**/    .emoji-picker{
/**/        background-color: rgba(0,0,0,0.16) !important;
/**/        border: 1px solid silver;
/**/    }
/**/
/**/    .emoji-picker .sticky-header,
/**/    .bda-dark #bda-qem,
/**/    .bda-dark #bda-qem-twitch,
/**/    .bda-dark #bda-qem-favourite,
/**/    .bda-dark #bda-qem-emojis{
/**/        background: rgba(0,0,0,0) !important;
/**/    }
/**/
/**/    .bda-dark #bda-qem button{
/**/        box-shadow :none !important;
/**/ 		    border: 1px solid silver !important;
/**/    }
/**/          
/**/    .bda-dark .emoji-picker .category{
/**/        background-color: rgba(40,40,40,0.88) !important;
/**/	      border: 1px solid silver !important;
/**/    }
/**/              
/**/    .bda-dark #bda-qem-favourite-container,
/**/    .bda-dark #bda-qem-twitch-container{
/**/        background-color: rgba(0,0,0,0.16) !important;
/**/        border: 1px solid silver;
/**/    }
/**/
/**/    .emoji-picker .scroller .emoji-item.selected{
/**/        background-color: rgba(255,255,255,0.16) !important;
/**/    }
/*================Fin Emoji================*/{
/**/        background: rgba(0,0,0,0) !important;
/**/    }
/**/
/**/    .emoji-picker .scroller .emoji-item.selected{
/**/        background-color: rgba(255,255,255,0.16) !important;
/**/    }
/**/
/**/    
/**/    {
/**/        overflow-y: hidden !important;
/**/        background-color: rgba(0,0,0,0) !important;
/**/    }
/*================Fin Emoji================*/
    
/*================Call================*/
/**/    .container-iksrDt{
/**/        background-color: rgba(0,0,0,0.16) !important;
/**/    }
/**/
/**/    .container-3lnMWU{
/**/        background: rgba(0,0,0,0.16) !important;
/**/    }
/*================Fin Call================*/
    
/*================Profils================*/
/**/    #user-profile-modal .header::after,
/**/    #user-profile-modal .tab-bar-container,
/**/    #user-profile-modal .header,
/**/    #user-profile-modal .scroller,
/**/    #user-profile-modal .empty{
/**/        background-image: none !important;
/**/        background-color: rgba(0,0,0,0) !important;
/**/    }
/**/
/**/    .inner-1_1f7b{
/**/        border: 1px solid silver !important;
/**/    }
/**/
/**/    #user-profile-modal .guilds .guild:hover,
/**/        .theme-dark .channel-members .member:hover{
/**/        background: rgba(255,255,255,0.16) !important;
/**/    }
/*================Fin Profils================*/
    
/*================Server Settings================*/
/**/    .theme-dark .ui-standard-sidebar-view {
/**/        background: rgba(0,0,0,0.40) !important;
/**/    }
/**/
/**/    .theme-dark .ui-popout-list{
/**/        background: rgba(0,0,0,0.88) !important;
/**/    }
/**/
/**/    .theme-dark .ui-standard-sidebar-view .sidebar-region,
/**/    .theme-dark .ui-standard-sidebar-view .content-region{
/**/        background: transparent !important;
/**/    }
/**/
/**/    .theme-dark .modal-3HOjGZ,
/**/    .theme-dark .footer-1PYmcw{
/**/        background-color: rgba(0,0,0,0.32) !important;
/**/    }
/*================Fin Server Settings================*/
  
/*================Scrollers================*/
/**/    .scrollerThemed-19vinI.themeDark-BdSAwu .scrollbar-2so3Ly,
/**/    .scrollerThemed-19vinI.themeDark-BdSAwu .scrollbar-2so3Ly .pad-3D5tOh,
/**/    .theme-dark .scrollerWrap-2uBjct .scrollbar-2so3Ly,
/**/    .theme-dark .scrollerWrap-2uBjct .scrollbar-2so3Ly .pad-3D5tOh,
/**/    .theme-light .scrollerThemed-19vinI.themeDark-BdSAwu .scrollbar-2so3Ly,
/**/    .theme-light .scrollerThemed-19vinI.themeDark-BdSAwu .scrollbar-2so3Ly .pad-3D5tOh,
/**/    .theme-dark .friends-table .scroller-wrap.polyfill .scrollbar,
/**/    .theme-dark .friends-table .scroller-wrap.polyfill .scrollbar .thumb,
/**/    .theme-dark .friends-table .scroller-wrap.polyfill .scrollbar::after,
/**/    .theme-dark .messages-wrapper .scroller-wrap.polyfill .scrollbar,
/**/    .theme-dark .messages-wrapper .scroller-wrap.polyfill .scrollbar .thumb,
/**/    .theme-dark .messages-wrapper .scroller-wrap.polyfill .scrollbar::after{
/**/        background-color: transparent !important;
/**/        background-image: none !important;
/**/        border: 0px solid transparent !important;
/**/        border-color: transparent !important;
/**/    }
/**/
/**/    .theme-dark .friends-table .scroller-wrap.polyfill .scrollbar .track,
/**/    .theme-dark .messages-wrapper .scroller-wrap.polyfill .scrollbar .track,
/**/    .theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-thumb,
/**/    .theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-thumb,
/**/    .theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-track-piece,
/**/    .theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-track-piece,
/**/    .bda-dark .emoji-picker .scroller::-webkit-scrollbar,
/**/    .bda-dark .emoji-picker .scroller::-webkit-scrollbar-track,
/**/    .bda-dark .emoji-picker .scroller::-webkit-scrollbar-track-piece,
/**/    .scrollerThemed-19vinI.themeLight-1WK0Av .scroller-fzNley::-webkit-scrollbar-thumb,
/**/    .theme-dark .scrollerThemed-19vinI.themeLight-1WK0Av .scroller-fzNley::-webkit-scrollbar-thumb,
/**/    .theme-light .scrollerWrap-2uBjct .scroller-fzNley::-webkit-scrollbar-thumb,
/**/    .bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-thumb,
/**/    .bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-thumb,
/**/    .bda-dark .emoji-picker .scroller::-webkit-scrollbar-thumb,
/**/    .bda-dark #pubs-container .scroller::-webkit-scrollbar-thumb,
/**/    .scroller-wrap .scroller::-webkit-scrollbar-thumb,
/**/    .scroller-wrap .scroller::-webkit-scrollbar-track-piece{
/**/        background-color: transparent !important;
/**/        border-color: transparent;
/**/    }
/**/
/**/    .theme-dark .friends-table .scroller-wrap.polyfill .scrollbar .thumb::after,
/**/    .theme-dark .messages-wrapper .scroller-wrap.polyfill .scrollbar .thumb::after,
/**/    .scrollerThemed-19vinI.themeGhost-10fio9 .scrollbar-2so3Ly .thumb-3VsfAI,
/**/    .scroller-wrap .scroller::-webkit-scrollbar-thumb,
/**/    .scroller-wrap .scroller::-webkit-scrollbar-track-piece{
/**/        background-color: transparent !important;
/**/    }
/**/    
/**/    .scrollerThemed-19vinI.themeLight-1WK0Av.scrollerTrack-3hhmU0 > .scrollbar-2so3Ly > .track-2Kex6E,
/**/    .theme-dark .scrollerThemed-19vinI.themeLight-1WK0Av.scrollerTrack-3hhmU0 > .scrollbar-2so3Ly > .track-2Kex6E,
/**/    .scrollerThemed-19vinI.themeLight-1WK0Av .scrollbar-2so3Ly .thumb-3VsfAI,
/**/    .theme-dark .scrollerThemed-19vinI.themeLight-1WK0Av .scrollbar-2so3Ly .thumb-3VsfAI,
/**/    .bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-thumb,
/**/    .bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-thumb,
/**/    .bda-dark .emoji-picker .scroller::-webkit-scrollbar-thumb,
/**/    .bda-dark #pubs-container .scroller::-webkit-scrollbar-thumb,
/**/    .bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar,
/**/    .bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track,
/**/    .bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track-piece,
/**/    .bda-dark #pubs-container .scroller::-webkit-scrollbar,
/**/    .bda-dark #pubs-container .scroller::-webkit-scrollbar-track,
/**/    .bda-dark #pubs-container .scroller::-webkit-scrollbar-track-piece,
/**/    .bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar,
/**/    .bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track,
/**/    .bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track-piece{
/**/        background-color: transparent !important;
/**/    }
/*================Fin Scrollers================*/
